
@{
    ViewBag.Title = "egitim";
}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="UTF-8" />
    <title>Eğitim Bilgilerim</title>
    <link href="~/Content/css/bilgilerim.css" rel="stylesheet" />
</head>
<body>
    <!--*w3-schools.Menucontent-->
    <div class="content" style="height:auto">
        <!--*w3-schools.Card-->
        <header>YUNUS EMRE COŞKUN - Kişisel Web Sayfası</header>
        <br /><br />
        <center>
            <div class="card">
                <br /><br />
                <img src="~/Content/img/ozgecmis.jpeg" alt="Avatar" style="width:300px;height:300px">
                <div class="container">
                    <h4><b>Yunus Emre COŞKUN</b></h4>
                    <h4><b>Eğitim Bilgilerim</b></h4>
                    <p>İlkOkul(2004-2012): Mustafa Kemal Paşa İlkÖğretim Okulu</p>
                    <p>Lise(2012/2016): Küçükçekmece Mesleki ve Teknik Anadolu Lisesi</p>
                    <p>Üniversite(2017/~): Kocaeli Üniversitesi</p>
                </div>
            </div>
        </center>
        <br />
    </div>
</body>
<script>document.getElementById("altmenu1").style.display = "block";
    var rd1 = false;
    function altmenu1() {

        if (rd1 == true) {
            document.getElementById("altmenu1").style.display = "block"; rd1 = false;
        }
        else { document.getElementById("altmenu1").style.display = "none"; rd1 = true; }
    }</script>
</html>
